<link rel="import" href="../polymer/polymer.html">

<dom-module id="polymer-bower-template">
    <style>
    </style>

    <template>
        Hello Polymer World!
    </template>
</dom-module>

<script type="text/javascript">
    Polymer({
        is: 'polymer-bower-template'
    });
</script>